absl-py==0.15.0
alabaster==0.7.12
altair @ file:///home/conda/feedstock_root/build_artifacts/altair_1640799865332/work
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
anaconda-client @ file:///home/conda/feedstock_root/build_artifacts/anaconda-client_1632453752331/work
anaconda-navigator==2.1.1
anaconda-project @ file:///home/conda/feedstock_root/build_artifacts/anaconda-project_1632773999114/work
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1641898071436/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
applaunchservices==0.2.1
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819647402/work
appscript @ file:///Users/runner/miniforge3/conda-bld/appscript_1643497935111/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1640855189619/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1643313750486/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1642537095337/work
astropy @ file:///Users/runner/miniforge3/conda-bld/astropy_1643316178163/work
astunparse==1.6.3
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1631087867185/work
binaryornot==0.4.4
bitarray @ file:///Users/runner/miniforge3/conda-bld/bitarray_1644498224469/work
bkcharts==0.2
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1643636307408/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
blinker==1.4
blis==0.7.4
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1637615242320/work
boto==2.49.0
Bottleneck @ file:///Users/runner/miniforge3/conda-bld/bottleneck_1636024545055/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012310340/work
cachetools==5.0.0
catalogue==2.0.4
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046182160/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822681337/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
clyent==1.2.2
cmake==3.22.2
collatex==2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.11.0
conda-build==3.21.8
conda-content-trust @ file:///home/conda/feedstock_root/build_artifacts/conda-content-trust_1621370699668/work
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1642622318035/work
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1636021780803/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify @ file:///Users/runner/miniforge3/conda-bld/conda-verify_1635878929577/work
contextlib2 @ file:///home/conda/feedstock_root/build_artifacts/contextlib2_1624848568296/work
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1643669229020/work
Counter==1.0.0
country-converter==0.7.4
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1639699399793/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem==2.0.5
Cython==0.29.28
cytoolz==0.11.2
daal4py==2021.5.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1644602974678/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1636043372408/work
decorator==5.0.9
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distributed @ file:///Users/runner/miniforge3/conda-bld/distributed_1644612652191/work
docutils @ file:///Users/runner/miniforge3/conda-bld/docutils_1610127792792/work
EbookLib==0.17
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.0.1
fastai==2.4
fastcache @ file:///Users/runner/miniforge3/conda-bld/fastcache_1636377176107/work
fastcore==1.3.20
fastprogress==1.0.0
ffmpeg==1.4
ffprobe==0.5
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1644933288974/work
Fiona==1.8.20
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1635888175357/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1644887820294/work
Flask-Cors==3.0.10
flatbuffers==1.12
flickrapi==2.4.0
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1640697294996/work/source/flit_core
fonttools==4.30.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1641933807587/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1635819868855/work
futures==3.1.1
gast==0.4.0
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas==0.9.0
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1626114677070/work
gevent @ file:///Users/runner/miniforge3/conda-bld/gevent_1639267862620/work
gitdb==4.0.7
GitPython==3.1.18
glob2==0.7
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1641732976454/work
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
goslate==1.5.1
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1635836883203/work
grpcio==1.34.1
gspread==4.0.1
gspread-pandas==2.3.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.1.0
hdbscan==0.8.27
HeapDict==1.0.1
helpdev==0.7.1
helpers==0.2.0
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
httplib2==0.19.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
iiif-downloader==0.0.8
imagecodecs @ file:///opt/concourse/worker/volumes/live/e941b486-3a75-48c0-6296-0718ca963055/volume/imagecodecs_1635529114027/work
imageio==2.6.1
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1636492669893/work
importlib-metadata==4.11.2
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
imutils==0.5.4
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
intervaltree==3.0.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1644262784481/work/dist/ipykernel-6.9.0-py3-none-any.whl
ipyleaflet==0.14.0
ipyplot==1.1.0
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1642634770240/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jdcal==1.4.1
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1637175422032/work
jellyfish @ file:///Users/runner/miniforge3/conda-bld/jellyfish_1641751531608/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jinja2-time==0.2.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1642000296051/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1637233266551/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1642858610849/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1616560109969/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1636814374382/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1644505208279/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1643984239174/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1641592475363/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1643122207574/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836828929/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1639599173828/work
libarchive-c @ file:///Users/runner/miniforge3/conda-bld/python-libarchive-c_1643045791649/work
llvmlite==0.38.0
locket==0.2.0
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1639527133012/work
Markdown==3.3.6
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359004870/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mccabe==0.6.1
midi2audio==0.1.1
MIDIUtil==1.2.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844768785/work
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock @ file:///Users/runner/miniforge3/conda-bld/mock_1635819659737/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1637732846337/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1637771611407/work
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
murmurhash==1.0.5
mypy-extensions @ file:///Users/runner/miniforge3/conda-bld/mypy_extensions_1635839836513/work
navigator-updater==0.2.1
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1641934401341/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1644884378444/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1644591324288/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
newrelic==6.2.0.156
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1643149609895/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1644004131199/work
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1643220699778/work
numpy==1.19.5
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1643063218300/work
oauthlib==3.2.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.3.56
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
opt-einsum==3.3.0
outcome==1.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.1
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panoptes-aggregation==3.6.0
panoptes-client==1.3.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
path @ file:///Users/runner/miniforge3/conda-bld/path_1641731124849/work
pathlib2 @ file:///Users/runner/miniforge3/conda-bld/pathlib2_1644584411451/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pathy==0.6.0
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.0.1
pixplot @ https://github.com/yaledhlab/pix-plot/archive/master.zip
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1638813452194/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1644499043034/work
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1635832923215/work
ply==3.11
pointgrid==0.0.5
portpicker==1.5.0
poyo==0.5.0
preshed==3.0.5
prettytable==2.1.0
progressbar==2.5
progressbar2==3.53.1
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1643395600215/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1644497866770/work
protobuf==3.19.4
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1640887156231/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1636020703996/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycurl==7.44.1
pydantic==1.8.2
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1621377123289/work
pydub==0.25.1
pyerfa @ file:///Users/runner/miniforge3/conda-bld/pyerfa_1636217498418/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1638563695852/work
pyls-spyder @ file:///home/conda/feedstock_root/build_artifacts/pyls-spyder_1619747398504/work
pynndescent==0.5.6
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accessibility==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdServices==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AppTrackingTransparency==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CallKit==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-ClassKit==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-KernelManagement==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-MetalPerformanceShadersGraph==7.3
pyobjc-framework-MLCompute==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PassKit==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-ReplayKit==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScreenTime==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UniformTypeIdentifiers==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-UserNotificationsUI==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Virtualization==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyodbc @ file:///Users/runner/miniforge3/conda-bld/pyodbc_1636085578315/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyproj==3.1.0
PyQt5==5.12.3
PyQt5-sip==12.9.0
PyQtWebEngine==5.12.1
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1642534483428/work
PySimpleGUI==4.45.0
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862551662/work
pytest==7.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-Levenshtein==0.12.2
python-lsp-black @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-black_1643602007592/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1618530352985/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server_1639432612016/work
python-magic==0.4.24
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1620267765676/work
python-utils==2.5.6
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1638210078062/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1636139902075/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877502229/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1627619480283/work/dist/qstylizer-0.2.1-py2.py3-none-any.whl
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1638212842953/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1640876679830/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1643828301492/work
redo==2.0.4
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1642551831377/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
reverse-geocode==1.4.1
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1637602230800/work
rsa==4.8
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1637430857284/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1636009276629/work
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1639751600282/work
scikit-learn @ file:///opt/concourse/worker/volumes/live/09b793c0-41c8-469b-7e31-b4a39bc68d95/volume/scikit-learn_1642617120730/work
scikit-learn-intelex==2021.20220207.123658
scipy==1.4.0
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
selenium==3.141.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentry-sdk==1.1.0
Shapely==1.7.1
shortuuid==1.0.8
simplegeneric==0.8.1
singledispatch @ file:///home/conda/feedstock_root/build_artifacts/singledispatch_1614388326733/work
six==1.15.0
smart-open==5.1.0
smmap==4.0.0
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1635844987423/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1611011426343/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
spacy==3.1.0
spacy-legacy==3.0.8
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1618149252333/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1637000050264/work
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1636966052463/work
spyder @ file:///Users/runner/miniforge3/conda-bld/spyder_1644613331390/work
spyder-kernels @ file:///Users/runner/miniforge3/conda-bld/spyder-kernels_1643579061403/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1642762195834/work
srsly==2.4.1
statistics==1.0.3.5
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1644535769852/work
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1636237190440/work
tables==3.6.1
TBB==0.2
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1643296534377/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
text-unidecode==1.3
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1635354148551/work
thinc==8.0.7
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1595515817927/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1625322421387/work
tinycss @ file:///home/conda/feedstock_root/build_artifacts/tinycss_1617478862138/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch==1.9.0
torchvision==0.10.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819838703/work
tqdm==4.61.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
traittypes==0.2.1
trio==0.19.0
trio-websocket==0.9.2
typed-ast @ file:///Users/runner/miniforge3/conda-bld/typed-ast_1643045836743/work
typer==0.3.2
typing_extensions==4.1.1
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1640096014448/work
umap-learn==0.5.1
unicodecsv==0.14.1
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1640031068703/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1631795222793/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
vega-datasets @ file:///home/conda/feedstock_root/build_artifacts/vega_datasets_1606414058616/work
wasabi==0.8.2
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1636266629278/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1644332431572/work
whichcraft==0.6.1
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1637174514854/work
wrapt==1.12.1
wsproto==1.0.0
wurlitzer @ file:///Users/runner/miniforge3/conda-bld/wurlitzer_1636132473416/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1635765417798/work
xlwings @ file:///Users/runner/miniforge3/conda-bld/xlwings_1644843455625/work
xlwt==1.3.0
xmltodict==0.12.0
yale-dhlab-keras-preprocessing==1.1.1
yale-dhlab-rasterfairy==1.0.3
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1641487982943/work
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1643828507773/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///Users/runner/miniforge3/conda-bld/zope.interface_1635859674962/work
